@model WholeSaleManagementApp.Models.Deal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Deal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
