@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WholeSaleManagementApp.Models.Contact>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách liên hệ" + CurrentPage;
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh sách liên hệ </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý liên hệ</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="col-12 col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="d-md-flex">

                <select required class="custom-select col-md-3" id="txtCompany" name="txtCompany" asp-items="ViewBag.Company">
                    <option selected>Chọn công ty</option>
                    <option value="all">All</option>
                </select>

                <div class="custome-select col-md-3">
                    <input id="keyword" name="keyword" type="search" class="form-control" placeholder="Tìm kiếm liên hệ" />
                </div>

                <div class="col-lg-6 text-right">
                    <a class="btn btn-primary" asp-action="Create"> <i class="ui-icon-circle-plus"></i> <span>Thêm liên hệ</span></a>
                    <a class="btn btn-primary" asp-action="ExportExcel"> <i class="ui-icon-circle-plus"></i> <span>Xuất file excel</span></a>
                    <a class="btn btn-primary" asp-action="Report"> <i class="ui-icon-circle-plus"></i> <span>Xuất file PDF</span></a>
                </div>
            </div>
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Tên liên hệ", "Index", new { sortOrder = ViewBag.NameSortParm })
                        </th>

                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Công ty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FullName
                            </td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.CompanyName</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="jsgrid-pager-current-page" list="@Model" asp-area="admin" asp-controller="Contacts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCompany").change(function () {
                var ComID = jQuery(this).children(":selected").attr("value");
                ComID = parseFloat(ComID);
                $('#txtCompany option').removeAttr('selected');
                $("#txtCompany > [value=" + ComID + "]").attr("selected", "true");
                $.ajax({
                    url: '/admin/Contacts/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        ComID: ComID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/admin/Search/FindContact/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

        $(function () {
            $('.select2').select2()
        });
    </script>
}