@model IEnumerable<WholeSaleManagementApp.Models.Blog.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sach bai viet</h1>

<partial name="_AlertMessage" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Tổng số bài viết: @ViewBag.totalPosts</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td onclick="location.href = '@(Url.Action("Details", "Posts", new {id = item.PostId }))'">
                        @Html.DisplayFor(modelItem => item.Title)
                        <br />
                        <small>@string.Join(", ", item.PostCategories.Select(pc => pc.Category.Title))</small>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />