@model WholeSaleManagementApp.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Chi tiết sản phẩm</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Quản lý sản phẩm</a></li>
                    <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="col-12 col-xl-12">
    <div class="card">
        <div class="card-header">

            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ShortDesc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ShortDesc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(Model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        Ảnh sản phẩm
                    </dt>
                    <dd class="col-sm-10">
                        <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.ProductName" />
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateModified)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateModified)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UnitslnStock)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UnitslnStock)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cat)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cat.CatName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>