
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WholeSaleManagementApp.Models.Blog.PostCategory>
@* model IEnumerable<WholeSalerWeb.Models.Product> *@
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Categories</h3>
                        <div class="d-md-flex">
                            <select required class="custom-select col-md-12" id="txtCatID" name="txtCatID" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn danh mục</option>
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                    
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-product">
                                <div class="product-img">
                                    <a asp-controller="Blogs" asp-action="Details" asp-route-id="@item.Post.PostId">
                                        <img class="default-img" src="~/images/posts/@item.Post.Thumb" alt="@item.Post.Title" style="display: block; height: 270px; ">
                                        <img class="hover-img" src="~/images/posts/@item.Post.Thumb" alt="@item.Post.Title"  style="display: block; height: 270px; ">
                                    </a>

                                </div>
                                <div class="product-content">
                                    <h3><a asp-controller="Blogs" asp-action="Details" asp-route-id="@item.Post.PostId">@item.Post.Title</a></h3>
                                    <div class="product-price">
                                        <span>@item.Post.Description</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>

                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="jsgrid-pager-current-page" list="@Model" asp-area="" asp-controller="Blogs" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
    $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option').removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Blogs/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

        $(function () {
            $('.select2').select2()
        });</script>
}